* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    background-color: rgb(232, 237, 245);
}

.main {
display: flex;
margin: 30px;

}

.titulo {
    max-width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 61, 61);
}

.box-texto{
  resize: none;
  width: 750px;
  height: 250px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    border: azure solid 1px;
    border-radius: 25px;
    background-color:rgb(255, 255, 255);
    color: rgb(57, 57, 159);
}


.box-msg{
    width: 230px;
    height: 400px;
   resize: none;
   position: relative;
    text-align: center;
    border-radius: 25px;
    border: rgb(95, 101, 101) solid 1px;
    background-color: rgb(255, 255, 255);
    background-image: url("img/criptografia.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

.botao {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 370px;
    text-align: center;
    padding-top: 10px;
    border:azure;

}

.btn-one {
    
    text-align: center;
    width: 170px;
    background-color: rgb(222, 216, 216);
    padding: 4px;
    border-radius: 25px;
    font-size: 20px;
    margin: 5px;
}

.footer {
    background-color: rgb(101, 174, 167);
    text-align: center;
    color: rgb(61, 61, 61);
    height: 20px;
    padding: 10px;
}

h4 {
    text-align: center;
    padding-top: 130px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

p {
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    padding: 10px;
}



