* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/bg_tela.png");
    font-family: 'Major Mono Display', monospace;
    max-width: 100%;
    background-color: rgb(232, 237, 245);
}

.main {
    display: flex;
    margin: 20px;
    justify-content: center;
}

 .logo{
     margin: 5px;
    display: flex;
    justify-content: safe;
} 

.titulo {

    max-width: auto;
    justify-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
}


.box-texto {
    display: flex ;
    flex: 1;
    font-family: 'Roboto Mono', monospace;
    resize: none;
    width: 750px;
    height: 450px;
    font-size: 30px;
    margin: 5px;
    border: azure solid 1px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(57, 57, 159);
    text-align: center;
}

.atencao {
    font-family: 'Roboto Mono', monospace;

    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}


.box-msg {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 310px;
    height: 500px;
    resize: none;
    position: relative;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    border: rgb(95, 101, 101) solid 1px;
    background-color: rgb(255, 255, 255);
    background-image: url("img/criptografia.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

.btn {
    background-image: url("./img/bg_color_silver.jpg");
    font-family: 'Major Mono Display', monospace;
    color: rgb(3, 3, 3);
    text-align: center;
    width: 190px;
    background-color: #D6E4E5;
    padding: 4px;
    border-radius: 25px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;

}

#copy {
    text-align: center;

}

.btn-copy {
    background-image: url("./img/bg_color_silver.jpg");
    flex-direction: row;
    text-align: center;
    width: 150px;
    font-family: 'Major Mono Display', monospace;
    color: rgb(3, 3, 3);
    padding: 4px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;

}

.footer {
    background-image: url("./img/bg_color_silver.jpg");
    text-align: center;
    color: rgb(3, 3, 3);
    height: 80px;
}

.text-footer {
    font-size: 15px;
}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.github {
    padding: 15px;
}